/* Image of the newsletter component for reference. Please don't remove. */
body {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/273280/newsletter-new.png) no-repeat calc(100% - 10px) 10px;
  margin: 0;
  padding: 10px;
}

/*
  Some hex values to help:

  Blue: #008EBB
  Light blue: 87E3FF
  Gray: #989898

*/





