/* BUTTONS */
.button-group {
  margin: 10rem auto;
  text-align: center;
}

.button-group button {
  border-radius: 0.2rem; 
  height: 3rem;
  margin: 1rem;
  width: 10rem;
}

.accept {
  background-color: #095cda;
  border: none;
  color: #FFF;
}

.cancel {
  background-color:#FFF;
  border: 2px solid #095cda;
  color: #095cda;
}

/* This is the simplist to lighten the color on hover for now */
.button-group button:hover {
  background-color: #64a0f9;
  border: none;
  color: #FFF;
}

.thanks-pu,
.come-back-pu {
  border: 5px solid #1d2023;
  border-radius: 0.5rem;
  color:#2a2a2a;
  font-size: 2rem;
  height: 10rem;
  line-height: 10rem;
  padding: 2rem;
  text-align: center;
  width: 20rem;  
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
  margin-left: -60rem;
}

.slide-in {
  animation-name: slideIn;
}

.slide-out{
  animation-name: slideOut;
}

@keyframes slideIn {
  from { margin-left: -60rem;}
  to { margin-left: 1rem;}      
}

@keyframes slideOut {
  from { margin-left: 1rem;}
  to { margin-left: -60rem;}  
}

/* Image of the newsletter component for reference. Please don't remove. */
.newsletter-image {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/273280/newsletter-new.png) no-repeat calc(100% - 10px) 10px;
  height: 20rem;
}

/*
  Some hex values to help:

  Blue: #008EBB
  Light blue: #87E3FF
  Gray: #989898

*/

.newsletter {
  color: #989898;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 4rem;
}

.newsletter h2 {
  border-top: 3px solid #008EBB;
  border-bottom: 1px solid #008EBB;
  color: #008EBB;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.newsletter p {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.newsletter form {
  display: flex;
  flex-direction: column;
}

.newsletter div {
  flex-direction: row-reverse;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.newsletter input[type="checkbox"] {
  margin-right: 0.7rem;
}

.newsletter input[type="email"] {
  border: 0.5px solid #989898;
  border-radius: 0.4rem;
  height: 3rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.newsletter button {
  background: linear-gradient(#87E3FF, #008ebb);
  border: none;
  border-radius: 0.125rem;
  box-shadow:  12px 13px 7px -11px #2a2a2a, 0 2px 0 12px #008ebb;;
  color: #FFF;
  font-weight: bold;
  font-size: 1rem;
  height: 2.5rem;
  margin: 0.75rem;
  text-shadow: 1px 1px 2px #2a2a2a;
}

.newsletter .fa {
  margin: 0 1rem;
}

/* Book */
.book-info {
  display: flex;
  flex-wrap: wrap;
}

.book-group {
  padding: 1rem;
  text-align: center;
  width: 15%;
}

.book h6 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.book p {
  font-size: 1rem;
  margin: 0;
}
