/* Image of the newsletter component for reference. Please don't remove. */
.newsletter-image {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/273280/newsletter-new.png) no-repeat calc(100% - 10px) 10px;
  height: 20rem;
}

/*
  Some hex values to help:

  Blue: #008EBB
  Light blue: 87E3FF
  Gray: #989898

*/

/* BUTTONS */
.button-group {
  margin: 10rem auto;
  text-align: center;
}

.button-group button {
  border-radius: 0.2rem; 
  height: 3rem;
  margin: 1rem;
  width: 10rem;
}

.accept {
  background-color: #095cda;
  border: none;
  color: #FFF;
}

.cancel {
  background-color:#FFF;
  border: 2px solid #095cda;
  color: #095cda;
}

/* This is the simplist to lighten the color on hover for now */
.button-group button:hover {
  background-color: #64a0f9;
  border: none;
  color: #FFF;
}

.thanks-pu,
.come-back-pu {
  border: 5px solid #1d2023;
  border-radius: 0.5rem;
  color:#2a2a2a;
  font-size: 2rem;
  height: 10rem;
  line-height: 10rem;
  padding: 2rem;
  text-align: center;
  width: 20rem;  
}

.hide {
  position: absolute;
  right: -9999px;
}



